/* Estilos para a página "Sobre Nós" */

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(250, 208, 169); /* Cor de fundo do corpo da página */
    color: #000; /* Cor do texto do corpo da página */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

p {
    max-width: 700px; /* Defina a largura máxima desejada */
    margin: auto;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px 0;
}

#about-us h2 {
    text-align: center;
    margin-bottom: 20px;
}

#about-us p {
    text-align: justify;
    line-height: 1.6;
}

header, footer {
    background-color: #182c61; /* Cor de fundo do cabeçalho e rodapé */
    color: #ecf0f1; /* Cor do texto do cabeçalho e rodapé */
    padding: 10px 0;
    text-align: center;
}